# Ігноруємо ключі
*.pem

# Ігноруємо кеш Python
__pycache__/
*.pyc
# Ігноруємо документи та підписи
*.docx
*.pdf
*.sig
*.crt
# Ігноруємо інструкцію
README_INSTRUCTION.md
Create_instruct.py
*benchmark*
